{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Przychodnia Online</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="{% static 'script.js' %}" defer></script>
</head>
<body>
    <header>
        <div class="section">
            <h2>Przychodnia online</h2>
        </div>

        <div class="section">
            <h2>Numer telefonu: 623 772 612</h2>
        </div>

        <div class="section" >
            <h2>Olsztyn, Słoneczna 54 </h2>
        </div>
        <div class="section">
            <h2>
            {% if user.is_authenticated %}
                Zalogowany użytkownik: <b>{{user.email}}</b>
            {% else %}
                <a href="{% url 'login' %}">zaloguj się</a>
            {% endif %}
            </h2>
        </div>
        <div class="section">
            <h2>
            {% if user.is_authenticated %}

            {% else %}
                <a href="/register_patient/">rejestracja</a>
            {% endif %}
            </h2>
        </div>
    </header>
<!-- Main content -->
    {% if user.is_authenticated %}
        {% if user.is_staff %}
        <main>
            <nav>
                <a href="register/doctor"> Zarejestruj lekarza</a>
                <a href="register/secretary"> Zarejestruj sekretarkę</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                  <button type="submit">Wyloguj</button>
                </form>
            </nav>
            <div id="documentary">
                <div class="patient_records">
                    <p>Liczba zarejestrowanych lekarzy: {{ num_doctors }}</p>
                </div>
                <div class="patient_records">
                    <p>Liczba zarejestrowanych sekretarek: {{ num_secretaries }}</p>
                </div>
                <div class="patient_records">
                    <p>Liczba zarejestrowanych pacjentów: {{ num_patients }}</p>
                </div>
            </div>
        </main>
        {% elif user.role == 'doctor' %}
       <main>
            <nav>
                <div id="map-container">
                    <a href="{% url 'medical_records' %}">Dokumentacja medyczna</a>
{#                    <a href="{% url 'edit_medical_record' %}">Edytuj Dokumentacje medyczną</a>#}
                    <a href="{% url 'prescription_create' %}">Wypisz receptę</a>
                    <a href="{% url 'change_password' %}">Zmień hasło</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                  <button type="submit">Wyloguj</button>
                </form>
                </div>
            </nav>
            <div class="content">
                <div id="review">
                    <p>
                        <h2>O nas</h2>
                        to jest lekarz
                    </p>
                </div>
            </div>
        </main>
        {% elif user.role == "secretary" %}
        <main>
            <nav>
                <div id="map-container">
                    <a href="doctor_register/">Dokumentacja medyczna</a>
                    <a href="">Zapisz się na wizytę </a>
                    <a href="{% url 'change_password' %}">Zmień hasło</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                  <button type="submit">Wyloguj</button>
                </form>
                </div>
            </nav>
            <div class="content">
                <div id="review">
                    <p>
                        <h2>O nas</h2>
                        to jest SEKRETARKA
                    </p>
                </div>
            </div>
        </main>
        {% elif user.role == "patient" %}
           <main>
            <nav>
                <div id="map-container">
                    <a href="api/patient_records/">Dokumentacja medyczna</a>
                    <a href="">Zapisz się na wizytę </a>
                    <a href="{% url 'prescription-list' %}">Zobacz Recepty</a>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                  <button type="submit">Wyloguj</button>
                </form>
                </div>
            </nav>
            <div class="content">
                <div id="review">
                    <p>
                        <h2>O nas</h2>
                        Witamy w Przychodni Online, miejscu, gdzie zdrowie i dobre samopoczucie naszych pacjentów stają się naszym priorytetem. Jesteśmy zespołem doświadczonych specjalistów z różnych dziedzin medycyny, którzy łączą wiedzę i pasję, aby zapewnić Państwu opiekę na najwyższym poziomie.
                        Nasza przychodnia oferuje szeroki zakres usług medycznych, w tym konsultacje specjalistyczne, diagnostykę, leczenie ambulatoryjne oraz wsparcie w zakresie zdrowia psychicznego. Korzystamy z nowoczesnego sprzętu i najnowszych technologii, aby zapewnić dokładną diagnozę i skuteczne leczenie.
                        Wierzymy, że kluczem do skutecznej opieki zdrowotnej jest indywidualne podejście do każdego pacjenta. Dlatego nasz personel jest zawsze gotowy wysłuchać, zrozumieć i dostosować plan leczenia do unikalnych potrzeb każdego z Państwa.
                        Nasze zaangażowanie w doskonalenie umiejętności i ciągłe szkolenie personelu gwarantuje, że zawsze jesteśmy na bieżąco z najnowszymi osiągnięciami w medycynie. Dążymy do tego, aby nasza przychodnia była miejscem, gdzie każdy pacjent czuje się bezpiecznie, szanowanie i komfortowo.
                        Zapraszamy do Przychodni Online- tutaj zdrowie i dobrostan naszych pacjentów zawsze są na pierwszym miejscu.
                    </p>
                </div>
            </div>
        </main>
        {% endif %}

    {% else %}
    <main>
        <!-- Navbar pionowy -->
        <nav>
            <div id="map-container">
                <h2> Nasza Placówka</h2>
                <iframe
                    width="100%"
                    height="100%"
                    frameborder="0"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2393.3510557217074!2d20.492426515986976!3d53.794329480075726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46ef7ceadcabf25b%3A0xe332b7a92749821!2sS%C5%82oneczna%2054%2C%2010-710%20Olsztyn!5e0!3m2!1sen!2spl!4v1641804253663!5m2!1sen!2spl"
                    allowfullscreen=""
                >
                </iframe>
            </div>
        </nav>

        <!-- Content -->
        <div class="content">
            <div id="review">
                <p>
                    <h2>O nas</h2>
                    Witamy w Przychodni Online, miejscu, gdzie zdrowie i dobre samopoczucie naszych pacjentów stają się naszym priorytetem. Jesteśmy zespołem doświadczonych specjalistów z różnych dziedzin medycyny, którzy łączą wiedzę i pasję, aby zapewnić Państwu opiekę na najwyższym poziomie.
                    Nasza przychodnia oferuje szeroki zakres usług medycznych, w tym konsultacje specjalistyczne, diagnostykę, leczenie ambulatoryjne oraz wsparcie w zakresie zdrowia psychicznego. Korzystamy z nowoczesnego sprzętu i najnowszych technologii, aby zapewnić dokładną diagnozę i skuteczne leczenie.
                    Wierzymy, że kluczem do skutecznej opieki zdrowotnej jest indywidualne podejście do każdego pacjenta. Dlatego nasz personel jest zawsze gotowy wysłuchać, zrozumieć i dostosować plan leczenia do unikalnych potrzeb każdego z Państwa.
                    Nasze zaangażowanie w doskonalenie umiejętności i ciągłe szkolenie personelu gwarantuje, że zawsze jesteśmy na bieżąco z najnowszymi osiągnięciami w medycynie. Dążymy do tego, aby nasza przychodnia była miejscem, gdzie każdy pacjent czuje się bezpiecznie, szanowanie i komfortowo.
                    Zapraszamy do Przychodni Online- tutaj zdrowie i dobrostan naszych pacjentów zawsze są na pierwszym miejscu.
                </p>
            </div>
                <div>
                    <h2>Nasi specjaliści</h2>
                    <div>
                        {% for i in "12345" %}
                            {% with doctor_image='images/profile_images/doctor' %}
                                <img src="{% static doctor_image|stringformat:"s" %}{{ i }}.png" width="200px" height="200px">
                            {% endwith %}
                        {% endfor %}
                    </div>
                    <img class="arrow" src="{% static 'images/down_arrow.png' %}" width="30px" height="30px">
                </div>
        </div>
    </main>
    {% endif %}
<!-- Footer -->
    <footer>        
        <img src="{% static 'images/popo.png' %}" width="80px" height="80px" >
        <p>&copy; 2024 Przychodnia POPOCOMANY</p>
        <img src="{% static 'images/doc.png' %}" width="80px" height="80px" >
    </footer>
</body>
</html>